</div>
<footer>
    <div class="footer mt-auto py-3 bg-dark"></div>
    <div class="footer">
        <p>Made by Manu - Courtesy of London App Brewery <br />
            <a href="https://www.facebook.com/manu.shaju.77" target="_blank"><i class="fab fa-facebook-f"></i></a>
            <a href="https://wa.me/919567355111" target="_blank"><i class="fab fa-whatsapp"></i></a>
            <a href="mailto:manukakkassery@gmail.com" target="_blank"><i class="fas fa-envelope"></i></a>
        </p>

    </div>
</footer>
</div>
</body>

</html>