* {
  box-sizing: border-box;
}
.alert-dark {
  font-family: fantasy;
  color: darkslategray;
  border-color: black;
  text-align: center;
  font-size: 44px;
}
.container {
    background-color: floralwhite;
    padding: 67px;
    background-image: url("https://www.kindpng.com/picc/m/144-1449639_collection-of-free-vector-maps-background-map-of.png");
  /*color: white;*/
  background-size: cover;
  background-position: center;
  filter: drop-shadow(2px 4px 6px black);
  
}
.landing-buttons{
  filter: drop-shadow(2px 3px 2px black);
}
.navbar {
  padding-top: 15px;
  padding-bottom: 0px;
  border: 0;
  border-radius: 0;
  margin-bottom: 9px;
  font-size: 12px;
  letter-spacing: 5px;
  background: linear-gradient(45deg, black, transparent);
}
.navbar-nav  a:hover {
    color: #1abc9c !important;
}
.navbar-light .navbar-brand {
  font-weight: bold;
  font-size: 42px;
  text-shadow: 2px 2px #1fa1cd;
  color: palegreen;
}
.navbar-light .navbar-nav .nav-link {
  color: lightgreen;
  font-weight: 900;
  font-family: inherit;
  font-size: 15px;
  margin: 37px;
}
/*.navbar-light .navbar-nav .nav-link {
  color: forestgreen;
  font-weight: 800;
  font-family: auto;
    font-size: 13px;
}*/
.footer-padding {
	padding-bottom: 60px;
}

.footer {
  margin-top: 15px;
  /* margin-bottom: 15px; */
	position: absolute;
	text-align: center;
	width: 100%;
	/* height: 40px; */
	background-color: darkcyan;
}

.footer p {
  margin-top: 1px;
  font-size: 12px;
  color: #fff;
  margin-bottom: 0px;
  background: linear-gradient(45deg, black, transparent);
}

.footer > p > a {
  color: white;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 2rem;
}

.footer > p > a:hover{
  color: grey;
}

.input-field {
  background-color: #FFFFFF;
  width: 30%;
  padding: 5px 0 5px 5px;
  margin: 20px;
  border: 1px solid gray;
}

.input-field::-webkit-input-placeholder {
  color: #CCCCCC;
  position: relative;
  padding-left: 0;
  -webkit-transition: padding 0.5s;
  transition: 0.5s;
}

.input-field:hover::-webkit-input-placeholder,
.input-field:focus::-webkit-input-placeholder {
  font-size: small;
  transform: translateY(-8px);
}

#map {
  height: 80vh;
  width: 100%;
  background-color: #0099C3;
}

input[type=submit] {
  text-align: center;
}

.listing-images {
  height: 100px;
  width: 100px;
}
.landing-buttons form {
  display: inline
}
.wrapper {
  filter: blur(1px);
}
.display-2 {
  text-align: center;
  background: no-repeat;
  height: 389px;
  font-family: fantasy;
  font-size: 5.5rem;
  font-weight: initial;
  line-height: 1.2;
  background-image: url(https://media.istockphoto.com/photos/dark-parking-garage-picture-id108226913?k=6&m=108226913&s=170667a&w=0&h=DZzNOkads_srYR5jVfYwjWvnbVdfNGnrdNC6pToD454=);
  color: white;
  background-size: cover;
  background-position: center;
  filter: hue-rotate(45deg);
}
body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 700;
  line-height: 2.0;
  color: darkslategray;
  text-align: left;
  background-color: lightgray;
}
.row{
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 700;
  line-height: 2.0;
  color: darkslategray;
  text-align: left;
  background-color:floralwhite;
  
}
.row h1
{
  margin: 34px;
    padding: 20px;
    font-family: emoji;
    font-weight: 700;
}
.btn-group-lg>.btn, .btn-lg {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
  margin: 118px;
    padding: 10px;
    font-family: emoji;
    background: darkslategray;
    background: lue;
    font-weight: 600;
    color: mintcream;
}
.jumbotron-fluid {
  padding-bottom: 1px;
  padding-right: 0;
  padding-left: 0;
  border-radius: 0;
  background: floralwhite;
  padding-top: 0px;
}
.search_form{
  display: grid;
  grid-template-columns: 80% 20%;

}
.lead {
  font-size: 1.25rem;
  font-weight: 800;
}

.search_form button {
  margin:1em;
  border:none;
  padding:0.25em 3em 0.25em 1em;
  text-align:center;
  background:
    linear-gradient(-120deg, transparent 1em, #0099C3 1.05em , #0099C3 1.5em, transparent 1.45em, transparent 2em, #0099C3 2.05em) top no-repeat,
    linear-gradient(300deg, transparent 1em, #0099C3 1.05em , #0099C3 1.5em, transparent 1.45em, transparent 2em, #0099C3 2.05em) bottom no-repeat ;
  background-size: 100% 50%;
  color:white

}

.search_form input::placeholder {
  font-weight: bold;
  opacity: .5;
  text-align: center;
}
.search_form input[type=text] {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  text-align: center;
}

.search-btn {
  border-radius: 100%;
}

.profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.search-container {
  display: grid;
  grid-template-columns: 40% 50%;
    
}

/* To be removed*/


