.book-container {
    display: flex;
    flex-flow: wrap;
}

.book-container div  {
    /* border: 5px solid black; */
    margin: 5px;
    padding: 10px;
}

.book-left-container {
    width: 60%;
    border-radius: 5%;
}

.book-right-container {
    width: 35%;
    border-radius: 5%;
}

